# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.agent
.claude
.opencode
# Documentation and notes
CLAUDE.md
/analysis/
/_bmad*
/docs
feature.md
/docs/rotsprite-shaders/
/ux/
tasks.md
*.ase
*.pf
*.aseprite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
